body {
    color: #ffffff;
    font-family: Monospace, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    cursor: none;
}

ul {
    list-style: none;
}

#cube {
    color: #009900;
}

#cube.found {
    text-decoration: line-through;
    color: #007700;
}

#ball {
    color: #FF9722;
}

#ball.found {
    text-decoration: line-through;
    color: #EE8712;
}