body {
    color: #ffffff;
    font-family: Monospace, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    cursor: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

ul {
    list-style: none;
}

.found {
    text-decoration: line-through;
    color: #00ff00;
}

.player-information {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
    z-index: 2147483647;
}

.items {
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1em;
    z-index: 2147483647;
    height: 90%;
    overflow: hidden;
}

.refreshButton {
    position: absolute;
    left: 0;
    top: 5.5em;
    margin-left: 10px;
    padding: 1.25em;
    color: white;
    font-size: larger;
    text-decoration: none;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-image: url('./../ui/refresh.svg');
    background-size: contain;
    background-color: teal;
    z-index: 2147483647;
}


/********************* 
    Player Settings
**********************/
#settings {
    display: none;
    width: 25%;
    min-width: 300px;
    margin: 1% auto;
}

#settings label {
    display: block;    
}

#settings label.inline {
    display: inline-block;
}

#settings input {
    padding: 5px 10px;
    margin-bottom: 10px;
}

#settings input.small {
    width: 25px;
}

#settings button {
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
}
